/*
Project Name: Blank Template
Client: Your Client
Author: Kevin Bloomquist
Developer @GA in Denver
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: Open Sans, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;

}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: 0;
  height: 500px;
  padding:0;
  font: Open Sans;

}

header {
text-align: center;
}

footer{
background-color:black;
color: #606161;
text-align:center;
height:400px;
width:auto;
position: relative;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


#toplogo{
  font-family: Open Sans;
  font-size:24px;
  font-weight:800;
  color: white;
  text-align:left;
  padding-left:30px;
}

#tagline{
  font-family: Open Sans;
  font-size:24px;
  font-style: 600;
  text-align: center;
  color:white;
  padding:40px 0px;
}


#getit{
font-family:Open Sans;
font-size:14px;
font-style:800;
color:#033048;
border-radius: 5px;
background-color: #f9e42e;
text-align: center;
padding:10px 20px;
margin-bottom:100px;
width:200px;
height:50px;

}
.benefitssec{
  font-family:Open Sans;
  font-size:20px;
  font-weight:600;
  color:#033048;
  width: 100%;
  height:auto;
  padding: 20px 4px 20px 4px;
  background: #f0efef;
  margin: 348px 0px 0px 0px;
  position:relative;
  
}

#benefits{
  width:70%;
  margin-left:50px;
  color:#033048;
}
#assistant{
  width:70%;
  margin-left:50px;
  color:#606161;
}

#list{
  font-family:Open Sans 13px;
  font-weight:300;
  color:#606161;
  width:60%;
  margin-left:72px;
}

.testaback{
  background-size: cover;
  width: auto;
  text-align:center;
}
#testamonial{
  font-family:Open Sans 18px;
  font-weight:300;
  font-style:italic;
  color: white;
  text-align:center;

}

#testasig{
  font:Open Sans; 
  color:white;
  font-size: 18px 
  font-weight:600;
  text-align:center;
}
.waves{
width: auto;
}
.signup{
  background-color: #f9e42e;
  text-align:center;
  margin:0 auto;
  font:Open Sans;
  font-size:12px;
  font-style:800;
  height: 150px;
  
}

#signbutton{
  text-align:center;
  font:Open Sans 12px;
  font-weight:800;
  background-color:#033048;
  margin-top:65px;
  background-color: #033048;
  margin-top: 65px;
  color: #f0efef;
  border-radius: 5px;
  width: 200px;
  height:50px;
}

.footrelaxr{
  color: #f9e42e;
  font: Open Sans;
  font-size: 24px;
  font-weight:800;
}

.twitter{
display:inline-block;
}

.facebook{
  display:inline-block;
  clear:both;
  padding-left:20px;
}
.legal{
  font: Open Sans 9px;
  font-weight:600;
}


